<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="src/app.js"></script>
  <title>Todo List</title>
</head>
<body ng-app="myApp" ng-controller="todoCtrl">

<h2>My Todo List</h2>

<form ng-submit="todoAdd()">
  <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
  <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList">
  <input type="checkbox" ng-model="x.done">
  <span ng-bind="x.todoText"></span>
</div>

<p>
  <button ng-click="remove()">Remove marked</button>
</p>


</body>
</html>